%h1= "Edycja ankiety <span class='name'>'#{h(@poll.name)}'</span>"

-if !@poll.locked?
  = form_for(@poll, :action => resource(@poll), :method => :put) do
    %fieldset
      .ctrl_textarea
        = text_field :name, :label => "Nazwa"
      .ctrl_textarea
        = text_area :thankyou, :label => "Tekst podziękowania"
      .ctrl.buttons
        = submit "Zmień"

= partial 'tokens/links'

%h3 Pytania
.custom-headers
  %span.title= 'Tekst pytania'
  %span.type= 'Rodzaj pytania'
  -if @poll.visible?
    %span.action= link_to(image_tag('/images/visible.png', :alt => 'Ukryj ankietę.', :title => 'Ukryj ankietę.'), resource(@poll, :hide), :class => 'image-link')
  -else
    %span.action= link_to(image_tag('/images/invisible.png', :alt => 'Pokaż ankietę.', :title => 'Pokaż ankietę.'), resource(@poll, :show), :class => 'image-link')
%ul.custom.sortable{ :id => 'questions', 'data-poll-id' => "#{@poll.id}"}
  - @questions.each do |question|
    = partial 'questions/question', :question => question

-if !@poll.locked?
  %h3 Dodaj nowe pytanie
  = partial 'questions/new', :poll => @poll, :question => Question.new
