%h1= "Edycja ankiety " + h(@poll.name)

%h3 Pytania
%table{ :id => 'questions' }
  %tr
    %th= 'Tekst pytania'
    %th= 'Rodzaj pytania'
    %th= 'Edycja'
    %th= 'Usuwanie'
    - @poll.questions.each do |question|
      = partial 'questions/question', :question => question


%h3 Dodaj nowe pytanie
= partial('questions/form', :poll => @poll)

%h3 Tokeny
= link_to("Generuj tokeny", resource(@poll, :tokens, :generate), "method" => "post")
= link_to("Pokaż tokeny", resource(@poll, :tokens))
