%h1= "Edycja ankiety <span class='name'>'#{h(@poll.name)}'</span>"

= link_to 'Statystyki', resource(@poll, :stats)
= link_to("Generuj tokeny", resource(@poll, :tokens, :generate), "method" => "post")
= link_to("Pokaż tokeny", resource(@poll, :tokens))

%h3 Pytania
%table.custom{ :id => 'questions' }
  %tr
    %th= 'Tekst pytania'
    %th= 'Rodzaj pytania'
    %th.action
    %th.action
    %th.action
    - @poll.questions.each do |question|
      = partial 'questions/question', :question => question


%h3 Dodaj nowe pytanie
= partial 'questions/new', :poll => @poll, :question => Question.new
