%h1= "Edycja ankiety <span class='name'>'#{h(@poll.name)}'</span>"

= link_to 'Statystyki', resource(@poll, :stats)
= link_to("Generuj tokeny", resource(@poll, :tokens, :generate), "method" => "post")
= link_to("Pokaż tokeny", resource(@poll, :tokens))
= link_to("Drukuj tokeny", resource(@poll, :tokens, :print))

%h3 Pytania
.custom-headers
  %span.title= 'Tekst pytania'
  %span.type= 'Rodzaj pytania'
%ul.custom.sortable{ :id => 'questions', 'data-poll-id' => "#{@poll.id}"}
  - @questions.each do |question|
    = partial 'questions/question', :question => question


%h3 Dodaj nowe pytanie
= partial 'questions/new', :poll => @poll, :question => Question.new
