%h1= "Edycja ankiety "+@poll.name

-if (@poll.questions.length > 0)
  %h3 Pytania
  %table 
    %tr
      %th= 'Tekst pytania'
      %th= 'Rodzaj pytania'
      %th= 'Edycja'
      %th= 'Usuwanie'
      - @poll.questions.each do |question|
        %tr
          %td= question.text
          %td= question.question_type
          %td= link_to("Edytuj", resource(@poll, question, :edit))
          %td= link_to("Usuń", resource(@poll, question, :delete))


%h3 Dodaj nowe pytanie
= partial('questions/form', :poll => @poll)

%h3 Tokeny
= link_to("Generuj tokeny", resource(@poll, :tokens, :generate), "method" => "post")
= link_to("Pokaż tokeny", resource(@poll, :tokens))
