= partial 'polls'
%h3 Podaj nazwę nowej ankiety
= form_for(@poll, :action => resource(:polls), :method => :post) do
  .error
    = error_messages_for(@poll)
  %fieldset
    .ctrl
      = text_field :name, :label => "Nazwa"
    .ctrl
      = select :poll_type, :label => 'Typ zajęć', :collection => Poll::TYPES
    .ctrl_textarea
      = text_area :thankyou, :label => "Tekst podziękowania"
    .ctrl.buttons
      = submit "Stwórz"
