%h3= "Statystyki pytań zamkniętych dla ankiety '<span class='name'>#{@poll.name}</span>':"
= link_to 'Powrot do ankiety', resource(@poll, :edit)
= partial("results/teacher_filter_form", :action => resource(@poll, :stats), :poll => @poll)

- unless @teachers.empty?
  #stats-content
    %table#stats.custom
      %thead
        %tr
          %td
          - @questions.each do |question|
            %th= question.title
      %tbody        
        - @answers.keys.each do |answer|
          %tr
            %th= answer            
            - @questions.each do |question|
              %td= @answers[answer][question] ? @answers[answer][question] : 0

  %script{:type=>"text/javascript"}
    //<![CDATA[
    $('#stats').visualize({type: 'bar', title: 'Zestawienie wyników pytań zamkniętych'});
    //]]>