%h3= "Statystyki pytań zamkniętych dla ankiety '<span class='name'>#{@poll.name}</span>':"

#stats-content
  %table#stats.custom
    %thead
      %tr
        %td
        - @questions.each do |question|
          %th= question.title
    %tbody
      - @answers.each_with_index do |answer_set, i|
        %tr
          %th= i
          - answer_set.each do |answer|
            %td= answer.value

%script{:type=>"text/javascript"}
  //<![CDATA[
  $('#stats').visualize({type: 'bar', title: 'Zestawienie wyników pytań zamkniętych'});
  //]]>