= form :action => "/login", :method => 'PUT', :id => 'login-form' do
  %fieldset
    = error_messages_for session.authentication
    .ctrl
      = text_field :email, :label => 'Email'
    .ctrl
      = password_field :password, :label => 'Password'
    .ctrl.buttons
      = submit 'Log in'
    = link_to("Zapomniałem hasła", resource(:users, :request_reset_password))

.info
  %h1
    Czym jest Cyfrowy Dorsz?
  Cyfrowy Dorsz to system służący do anonimowego ankietowania studentów.
Prowadzący zajęcia mają możliwość wykorzystania wielu rodzajów pytań,
przeglądania danych oraz ich statystycznej analizy. Ankietowani za
pośrednictwem gwarantującego unikalność hasła mogą wejść do systemu i odpowiedzieć na
pytania dotyczące zajęć.
