= js_include_tag 'jquery_ui_datepicker.js', 'ui.datepicker-pl.js'
= form(:action => resource(@poll, :tokens, :save)) do
  %fieldset
    .ctrl
      = text_field(:value, :label => "Nazwa")
    .ctrl
      = text_field(:max_usage, :label => "Liczba użyć", :value => 10)
    .ctrl
      = text_field(:valid_until, :id=>"valid_until", :label => "Data ważności tokenów", :value=> (DateTime::now()+20).strftime("%Y-%m-%d"))
    .ctrl
      = hidden_field(:token_type, :value => Token::TYPES[:multi])
    .ctrl.buttons
      = submit("Generuj token")
  %script{:type=>"text/javascript"}
    //<![CDATA[
    $(function() {
    $('#valid_until').datepicker();
    });
    //]]>
