%h3 Tokeny
%table
  %tr
    %th= 'Nazwa ankiety'
    %th= 'Wartość'
    %th= 'Ważny do'
    %th= 'Użyty'
    - @tokens.each do |token|
      %tr
        %td= token.poll.name
        %td= token.value
        %td= token.valid_until
        - if token.used 
          %td= "tak"
        - else
          %td= "nie"
