%h1= "Tokeny dla ankiety <span class='name'>'#{h(@poll.name)}'</span>"

= link_to("Generuj nowe tokeny", resource(@poll, :tokens, :generate), "method" => "post")

%table.custom
  %tr
    %th= 'Wartość'
    %th= 'Ważny do'
    %th= 'Pozostało użyć'
    %th.action
    - @tokens.each do |token|
      %tr
        %td= token.value
        %td= token.valid_until
        %td= token.remaining_count
        %td.action= link_to(image_tag('/images/delete.png', :alt => 'usuń', :title => 'usuń'), resource(token.poll, token, :delete), :class => 'image-link delete-token')
