%h1= "Tokeny dla ankiety <span class='name'>'#{h(@poll.name)}'</span>"
= link_to("Generuj nowe tokeny", resource(@poll, :tokens, :generate), "method" => "post")

%table.custom
  %tr
    %th= 'Nazwa ankiety'
    %th= 'Wartość'
    %th= 'Ważny do'
    %th= 'Użyty'
    %th.action
    - @tokens.each do |token|
      %tr
        %td= token.poll.name
        %td= token.value
        %td= token.valid_until
        - if token.used 
          %td= "tak"
        - else
          %td= "nie"
        %td.action= link_to(image_tag('/images/delete.png', :alt => 'usuń', :title => 'usuń'), resource(token.poll, token, :delete), :class => 'image-link delete-token')
