%h1 Blokuj ankiety
- @users.each do |user|
  %h2= user.email
  %table.custom
    %tr
      %th= 'Nazwa ankiety'
      %th.action
      - user.polls.each do |poll|
        %tr
          %td= h(poll.name)
          -if poll.blocked
            %td.action= link_to(image_tag('/images/unblock.png', :alt => 'odblokuj', :title => 'odblokuj'), resource(poll, :unblock), :class => 'image-link')
          -else
            %td.action= link_to(image_tag('/images/block.png', :alt => 'blokuj', :title => 'blokuj'), resource(poll, :block), :class => 'image-link')

