%h1= "Zmiana hasła"
= form(:action => resource(:users, :send_reset_password), :method => :post) do
  %fieldset
    %legend= "Pod poniższy email przesłany zostanie link służący do resetowania hasła."
    .ctrl= text_field(:name => "email", :label => "Email")
    .ctrl.buttons= button("Wyślij")

