%h1= "Zmiana hasła"
= form(:action => resource(:users, :perform_reset_password), :method => :post) do
  %fieldset
    = hidden_field(:name => "token", :value => @token)
    = password_field(:name => "password", :label => "Nowe hasło")
    = password_field(:name => "password_confirmation", :label => "Potwierdź nowe hasło")
    = button("Zapisz")

