%fieldset
  .ctrl
    = text_field(:text, :label => "Treść pytania")
    %span.validation.error
      = @question.errors.on(:text)
  .ctrl
    = select(:question_type, :label => "Typ pytania", :collection => @question_types)
    %span.validation.error
      = @question.errors.on(:question_type)
  .ctrl.buttons
    = submit("Zapisz pytanie")
