%tr
  %td= h(question.title)
  %td= h(question.question_type)
  %td.action= link_to(image_tag('/images/answer.png', :alt => 'odpowiedzi', :title => "Odpowiedzi do pytania #{h(question.text)}"), resource(question.poll, question, :results), :class => 'image-link')
  %td.action= link_to(image_tag('/images/edit.png', :alt => 'edytuj'), resource(question.poll, question, :edit), :class => 'image-link')
  %td.action= link_to(image_tag('/images/delete.png', :alt => 'usuń', :title => 'usuń'), resource(question.poll, question, :delete), :class => 'image-link delete-question')
- if question.choice?
  %td
  %td= "Odpowiedzi"
  %td{:colspan => 3}
    - question.possible_answers.each do |answer|
      = h(answer)
      %br