%h1= "Wypełnienie ankiety <span class='name'>'#{h(@token.poll.name)}'</span>"

%h3= "Typ zajęć: #{@token.poll.poll_type}"
= form :action => url(:controller => "answers", :action => "save_answer") do
  %fieldset
    - @question_answers.each do |question, question_answer|
      = partial 'questions/question_answer', :question => question, :question_answer => question_answer
    = hidden_field :name => "token", :value => @token.value
    .ctrl.buttons
      = submit "Wyślij odpowiedzi"
        


